<% if (!items || items.length <= 0) { %>
	<h1>This folder seems to be empty for now</h1>
<% } else { %>
	<ul class="storageDisplay">
		<% items.forEach(element => { %>
		<li>
			<% if (element.hasOwnProperty("folderId")) { %>
			<div>
				<img src="/svg/File.svg" alt="File icon" class="icon">
				<a href=<%= `/storage/file/${element.id}` %>><%= element.name %></a>
			</div>
			<% } else { %>
				<img src="/svg/Folder.svg" alt="Folder icon" class="icon">
				<a href=<%= `/storage/${element.id}` %>><%= element.name %></a>
			<% } %>
		</li>
		<% }); %>
	</ul>
<% } %>
 

