<nav class="navBar">
	<ul class="navigation">
		<li>
			<a href="/storage">Home/</a>
		</li>
		<% for (let i = navBar.length - 2; i > -1; i--) { %>
			<li>
				<a href=<%=`/storage/${navBar[i].id}`%>><%=`${navBar[i].name}/`%></a>
			</li>
		<% } %>
	</ul>
	<div>
		<button id="uploadFolderBtn" class="mainBtn">Add folder</button>
		<button id="uploadFileBtn" class="mainBtn">Add file</button>
	</div>
</nav>