<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Sign up", style: "style"}) %>
<body>
	<form action="/sign-up", method="post">
		<label for="username">Username</label>
		<input id="username" name="username" placeholder="Username" type="text" required/>
		<label for="password">Password</label>
		<input id="password" name="password" type="password" required/>
		<label for="repeatPassword">Repeat password</label>
		<input id="repeatPassword" name="repeatPassword" type="password" required/>
		<button>Register</button>
	</form>
</body>
</html>