<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Odin storage", style: "storage"}) %>
<body>
	<%- include("partials/header") %>
	<%- include("partials/navBar") %>
	<ul>
		<% items.forEach(element => { %>
		<li>
			<a href="#"><%= `${element.name} is ${element.hasOwnProperty("folderId")? "file": "folder"}` %></a>
		</li>
		<% }); %>
	</ul>
</body>
</html>