<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Odin storage", style: "storage"}) %>
<body>
	<%- include("partials/header") %>
	<%- include("partials/navBar") %>
	<form action="/storage", method="post" enctype="multipart/form-data" class="accountForm">
		<label for="file">Enter your file</label>
		<input id="file" name="file" type="file" required/>
		<button class="mainBtn">Submit</button>
	</form>
</body>
</html>