<!DOCTYPE html>
<html lang="en">
<%- include("partials/headTag", {title: "Odin storage", style: "style"}) %>
<body>
	<h1>You are logged in</h1>
	<a href="/log-out">Log out (temporal)</a>
</body>
</html>