<!DOCTYPE html>
<html lang="en">
	<%- include("partials/headTag", {title: "Odin storage", style: "style"}) %>
<body>
<%- include("partials/header") %>
	<main>
		<form action="/", method="post" class="accountForm">
			<%- include("partials/errors") %>
			<label for="username">Username</label>
			<input id="username" name="username" placeholder="Username" type="text" required/>
			<label for="password">Password</label>
			<input id="password" name="password" type="password" required/>
			<button class="mainBtn">Log in</button>
			<span>Not registered? Sign up <a href="/sign-up">here</a></span>
		</form>
	</main>
</body>
</html>